= render partial: 'layouts/navbar_background'
.container
  .row
    .col-sm-12.col-md-12.col-lg-12.text-center.top-margin-sm.bottom-margin-lg
      %h3.about-header.margin-center.top-margin-sm About Me
      %p.about-text.bottom-margin-sm
        I am a developer, product designer, gamer, musician and a lover of technology.
        I began building websites when I was fifteen and I was hooked immediately; I
        loved to code, and I knew that it was something I wanted to pursue. After
        high school I attending Dev Bootcamp to learn full-stack software development
        and object oriented programming. Since then I've constantly occupied myself
        with different projects, each more interesting than the last - below I've
        detailed a few projects and organizations that I've been a part of, and what I learned from them.
      = image_tag 'down_arrow.png', class: 'down-arrow top-margin-lg', id: 'scroll-from'
.container-fluid
  .row
    .col-sm-12.col-md-12.col-lg-12.top-margin-lg.bottom-margin-lg.top-padding-md#scroll-to
      = react_component('InformationalTilesList', { listData: @list_data })
