= render partial: 'layouts/navbar_background'
.container.about-page-container
  .row
    .col-sm-12.col-md-12.col-lg-12.text-center.top-margin-sm.bottom-margin-lg
      %h3.about-header.margin-center.top-margin-sm About Me
      %p.about-text.bottom-margin-sm
        I am a software engineer, startup enthusiast, and product designer.
        My biggest passion is to create things; whether it is music, an application,
        a website or a house, I am constantly in the pursuit of a new project.
        I am also a dog person, a music lover and an avid gamer. If I'm not busy
        building something new, I can usually be found watching TV with my dog,
        cooking, or having some drinks with my friends and family.

