= render partial: 'layouts/navbar_background'
.container
  .row
    .col-sm-12.col-md-12.col-lg-12.text-center.top-margin-lg
      %h3.about-header.margin-center.top-margin-sm About Me
      %p.about-text I am a full-stack web developer with experience using a variety of technologies. When I was eighteen I attended Dev Bootcamp, an immersive code-school, in order to fast-track my career in web development. Since graduating, I have constantly occupied myself with engaging and challenging projects.
      = image_tag 'down_arrow.png', class: 'down-arrow top-margin-lg', id: 'scroll-from'
