= render partial: 'layouts/background_tiles'
.container
  .row
    .col-sm-12.col-md-12.col-lg-12.top-margin-lg
      %h1.top-margin-lg.home-header My Name is Matty Fagioli.
      %h4.home-subheader= react_component('ChangingWords', { basePhrase: Constants::HOMEPAGE_BASE_PHRASE, words: Constants::HOMEPAGE_CHANGING_WORDS })
