#thanks-container.container-fluid
  %h2.thanks-header Thanks For Reaching Out!
  %h3.thanks-subheader I'll get back to you as soon as I can
  = link_to "Back Home", root_path, class: "back-home-button lifty-button"
