.about-header {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #2f2f2f;
  font-size: 40px;
  letter-spacing: 0.25px;
  word-spacing: 1px;
  border-bottom: 3px solid #4dd1ac;
  padding: 20px 45px;
  width: fit-content;
  text-shadow: 0px 0px 15px #00000014;
}

.about-text {
  margin: 15px auto;
  font-size: 22px;
  letter-spacing: 0.25px;
  word-spacing: 1px;
  line-height: 40px;
  padding: 10px 35px;
  max-width: 900px;
  text-shadow: 0px 0px 15px #00000014;
}

@media screen and (max-width: 600px) {
  .about-header {
    font-size: 30px;
    padding: 15px 33px;
  }

  .about-text {
    font-size: 18px;
    line-height: 35px;
    padding: 10px 30px;
  }
}

.tile-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
  background: #0000008f;
  opacity: 0;
  transition: all 300ms;
  cursor: pointer;
}

.tile-primary-image:hover + .tile-overlay,
.tile-overlay:hover {
  opacity: 1;
}

.tile-primary-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: all 300ms;
  cursor: pointer;
  box-shadow: 0px 5px 15px #0000005e;
  box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .tile-primary-image {
    height: 200px;
  }

  div.tile-bottom-section.active {
    height: 300px;
  }

  .tile-overlay,
  .tile-overlay:hover {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .tile-primary-image {
    height: 150px;
  }

  .tile-overlay,
  .tile-overlay:hover {
    font-size: 15px;
  }
}

.tile-bottom-section {
  margin: 0;
  height: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  transition: all 350ms;
  overflow: hidden;
}

.tile-bottom-section.active {
  background: #8689863d;
  height: 400px;
  overflow: auto;
  border: 2px solid #9e9e9e;
  box-shadow: 0px 5px 15px #0000001f;
}

.tile-bottom-header {
  color: #202020;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-align: center;
  font-size: 30px;
  margin: 33px auto 15px auto;
  text-shadow: 0px 0px 10px #00000026;
  white-space: nowrap;
}

.tile-bottom-text {
  color: #202020;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-align: center;
  font-size: 22px;
  text-shadow: 0px 0px 10px #00000026;
  padding: 0px 25px;
  line-height: 33px;
  max-width: 715px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .tile-bottom-header {
    font-size: 25px;
    margin: 20px auto 10px auto;
  }

  .tile-bottom-text {
    font-size: 15px;
    line-height: 27px;
  }
}
