html,
body {
  margin: 0;
  padding: 0;
  background: #E9ECEE;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  margin-left: -15px;
  margin-right: -15px;
}

.max-215 {
  max-width: 215px;
  max-height: 215px;
}

.margin-center {
  margin: 0 auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  color: #F5F5F5;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  margin-top: 10px;
  z-index: 1;
}

.navbar-default .navbar-brand {
  color: #F5F5F5;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
}

.navbar-default .navbar-nav > li > a {
  color: #F5F5F5;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  transition: all 250ms;
  font-size: 18px;
  text-shadow: 0px 0px 7px #00000017;
}

.navbar-default .navbar-nav > li > a:hover {
  background: transparent;
  color: #F5F5F5;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a {
  background: transparent;
  color: #008df7;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    margin-top: 14px;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 50000;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #cee5cc;
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    background: #b3ebd7;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3c4745;
}

.navbar-default .navbar-toggle {
  background-color: #f2f7f4;
  transition: all 300ms;
}

.navbar-default .navbar-toggle:hover {
    background-color: #e6e7e6;
}

#background-tiles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-14deg);
  transform: skewY(-14deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg,#4dd18e 15%,#6bf9e5 70%,#51e0d3 94%);
  box-shadow: 0px 0px 10px #00000030;
  position: absolute;
  z-index: 0;
  top: 0;
}

#background-tiles > span {
  position: absolute;
  height: 40px;
}

#background-tiles :first-child {
  width: 50%;
  left: 50%;
  top: 40px;
  background: #56da97;
}

#background-tiles :nth-child(2) {
  width: 14%;
  right: 0;
  bottom: 40px;
  background: #5bc38e80;
}

#background-tiles :nth-child(3) {
  width: 25%;
  bottom: 0;
  right: 0;
  background: #72e6b6;
}

@media screen and (min-width: 670px) {
  #background-tiles :first-child {
    top: 0;
    background: #56da97;
  }

  #background-tiles :nth-child(2) {
    width: 16.66667%;
    top: 300px;
    bottom: auto;
    background: #5bc38e80;
  }

  #background-tiles :nth-child(3) {
    width: 33.33333%;
    right: auto;
    background: #72e6b6;
  }
}

@media screen and (min-width: 880px) {
  #background-tiles :first-child {
    width: 33.33333%;
    left: -16.66666%;
    background: #56da97;
  }

  #background-tiles :nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #5bc38e80;
  }

  #background-tiles :nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #72e6b6;
  }

  #background-tiles :nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #3ee0d194;
  }

  #background-tiles :nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #5bc38e2e;
  }
}

@media screen and (min-width: 670px) {
  #background-tiles > span {
    height: 150px;
  }
}

@media screen and (min-width: 880px) {
  #background-tiles > span {
    height: 190px;
  }
}

.lifty-button:focus,
.lifty-button {
  transition: all .15s ease;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.lifty-button:hover,
.lifty-button:active {
  transform: translateY(-1px);
  text-decoration: none;
  outline: none;
}

.navbar-brand {
  color: #F5F5F5;
  font-size: 25px;
  background: transparent;
  margin-top: 0px;
  transition: all .15s ease;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 7px #00000017;
}

.navbar-default .navbar-brand:hover {
  color: #F5F5F5;
  background: transparent;
  transform: scale(1.025);
}

@media screen and (min-width: 991px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 25px;
    margin: 5px 10px;
  }

  .navbar-brand {
    font-size: 30px;
    margin-top: 7px;
  }
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.top-margin-sm {
  margin-top: 15px;
}

.top-margin-md {
  margin-top: 25px;
}

.top-margin-lg {
  margin-top: 33px;
}

.bottom-margin-sm {
  margin-bottom: 15px;
}

.bottom-margin-md {
  margin-bottom: 25px;
}

.bottom-margin-lg {
  margin-bottom: 33px;
}

.right-margin-sm {
  margin-right: 15px;
}

.right-margin-md {
  margin-right: 25px;
}

.right-margin-sm {
  margin-right: 33px;
}

.left-margin-sm {
  margin-left: 15px;
}

.left-margin-sm {
  margin-left: 25px;
}

.left-margin-sm {
  margin-left: 33px;
}

.no-padding {
  padding: 0;
}

.top-padding-sm {
  padding-top: 15px;
}

.top-padding-md {
  padding-top: 25px;
}

.top-padding-lg {
  padding-top: 33px;
}

.bottom-padding-sm {
  padding-bottom: 15px;
}

.bottom-padding-md {
  padding-bottom: 25px;
}

.bottom-padding-lg {
  padding-bottom: 33px;
}

.right-padding-sm {
  padding-right: 15px;
}

.right-padding-md {
  padding-right: 25px;
}

.right-padding-sm {
  padding-right: 33px;
}

.left-padding-sm {
  padding-left: 15px;
}

.left-padding-sm {
  padding-left: 25px;
}

.left-padding-sm {
  padding-left: 33px;
}

.blinking-cursor {
  opacity: 0;
  animation: disappear 400ms linear 0s infinite alternate;
  display: inline-block;
  width: 2px;
  height: 25px;
  background: #eaeaea;
  vertical-align: top;
  position: absolute;
  margin-left: 5px;
}

@keyframes disappear {
  from { opacity: 0; }
  to { opacity: 1; }
}

#navbar-background {
  background: linear-gradient(150deg,#4dd18e 15%,#6bf9cb 70%,#51e0cc 94%);
  box-shadow: 0px 0px 10px #00000030;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  #navbar-background {
    height: 75px;
  }
}

#navbar-background :first-child {
  width: 33.33333%;
  left: -16.66666%;
  background: #76d6a5;
  position: absolute;
  height: 13px;
  transform: skew(-25deg);
}

#navbar-background :nth-child(2) {
  width: 14%;
  top: 0;
  right: 0;
  background: #5bc38e80;
  position: absolute;
  height: 17px;
  transform: skew(-15deg);
}

#navbar-background :nth-child(3) {
  width: 60%;
  bottom: -38px;
  left: -40px;
  background: linear-gradient(150deg,#4dd18e57 15%,#6bf9c494 70%,#51e0aba3 94%);
  position: absolute;
  height: 50px;
  transform: skew(55deg) rotate(-2deg);
}

.down-arrow {
  max-width: 75px;
  cursor: pointer;
  transition: all 250ms;
}

.down-arrow:hover {
  transform: scale(1.075);
}
