.container
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{ type: :button, 'data-toggle' => :collapse, 'data-target' => "#bs-example-navbar-collapse-1" }
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to '[ MattyCodes ]', root_path, class: 'navbar-brand'
      .container
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav.navbar-right
            %li.lifty-button{ class: ( controller?('misc') && action?('home') ? 'active' : '' ) }= link_to 'Home', root_path
            %li.lifty-button{ class: ( controller?('misc') && action?('about') ? 'active' : '' ) }= link_to 'About', '#'
            %li.lifty-button{ class: ( controller?('misc') && action?('contact') ? 'active' : '' ) }= link_to 'Contact', '#'
